<h1>Create your new task</h1>
<br>
<%= simple_form_for(@task) do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title %>
  <%= t.label :details %>
  <%= t.text_field :details %>
  <%= t.submit :class => "btn btn-primary"%>
<% end %>
